$mermaid-font-family: var(--font-family);

$mermaid-label-fg-color: var(--darkblue);
$mermaid-node-bg-color: var(--white);
$mermaid-edge-color: var(--lightgreen);
$mermaid-label-bg-color: transparent;


.edgeLabel {
  background-color: transparent !important;
  padding: 0.1rem 0.25rem;
  border-radius: 5px;
  font-size: small;
}
